<div id="team" class="page">
    <div class="divided title">
        Teams
    </div>

    <div class="ui stackable page grid centered">
        <div>
            <div class="ui error message" ng-show="error">
                {{error}}
            </div>

            <div class="ui segment" ng-show="!user.teamCode  || currentUser.admin">
                <div class="ui form" ng-show="!user.teamId">

                    <div class="title">
                        Create a Team
                    </div>

                    <br>

                    <div class="field">
                        <input class="ui input" type="text" placeholder="Team name / title" ng-model="teamTitle">
                    </div>

                    <div class="field">
                        <input class="ui input" type="text" placeholder="What's your team about?" ng-model="teamDesc">
                    </div>


                    <div class="field">
                        <button class="ui fluid blue button" ng-click="createTeam()">
                            Create Team
                        </button>
                    </div>

                </div>
            </div>

            <div>

                <div class="ui segment" ng-repeat="team in teams">


                    <!--Teams list  -->
                    <div class="ui form">

                        <div class="title">
                            {{team.title}}
                        </div>

                        <br>

                        <div class="description">
                            {{team.description}}
                        </div>

                        <br>

                        <div class="ui list">
                            Team members:
                            <div ng-repeat="member in team.members">

                                <div> Email: {{member.email}}</div>
                                <!--<div>  {{ (!member.verified ? 'Verified' : 'Not verified') }} </div>-->
                            </div>
                        </div>


                        <div class="field" ng-show="!currentUser.admin && user.teamId != team._id">

                            <button class="ui fluid green button" ng-click="joinTeam(team ,$index)">
                                Join team
                            </button>
                        </div>


                        <div class="field" ng-show="!currentUser.admin && user.teamId == team._id">
                            <button class="ui fluid red button" ng-click="leaveTeam(team ,$index)">
                                Leave team
                            </button>
                        </div>

                        <div class="field" ng-show="currentUser.admin">

                            <button class="ui fluid red button" ng-click="deleteTeam(team ,$index)">
                                Delete team
                            </button>
                        </div>

                    </div>


                </div>
            </div>


        </div>
    </div>

</div>
