<div id="guide" class="page">
    <div class="divided title">
        Organizer Guide
    </div>

    <i id="myBtn" class="fas fa-arrow-up"></i>

    <section>
        <div>
            <ol style="list-style-type:none">
                <li>4 To 9 Months Before</li>
                <ul style="list-style-type:circle">
                    <li><a href="#lock-down-a-venue">Lock Down A Venue</a></li>
                </ul>
                <li>4 Months Before</li>
                <ul style="list-style-type:circle">
                    <li><a href="#leadership-team">Build A Killer Leadership Team</a></li>
                    <li><a href="#placeholder-website">Set Up A Placeholder Website</a></li>
                    <li>Sponsorship</li>
                    <ul>
                        <li><a href="#fundraising">Introduction To Fundraising</a></li>
                        <li><a href="#budget">Budget</a></li>
                        <li><a href="#understand-your-sponsors">Understand Your Sponsors</a></li>
                        <li><a href="#sponsorship-prospectus">Put Together A Sponsorship Prospectus</a></li>
                        <li><a href="#5-step-sponsorship-process">The 5-step Sponsorship Process</a></li>
                    </ul>
                </ul>
                <li>2 Months Before</li>
                <ul style="list-style-type:circle">
                    <li><a href="#prizing">Prizing</a></li>
                    <li><a href="#book-mentors">Book Mentors And Judges</a></li>
                    <li><a href="#promote-event">Promote Your Event</a></li>
                </ul>
                <li>1 Month Before</li>
                <ul style="list-style-type:circle">
                    <li><a href="#final-headcount">Get Final Headcount</a></li>
                    <li><a href="#transportation">Organize Transportation</a></li>
                    <li><a href="#supplies-and-vendors">Order Supplies And Book Vendors</a></li>
                    <li><a href="#schedule">Create Your Schedule</a></li>
                    <li><a href="#update-website">Update Website With Final Info</a></li>
                    <li><a href="#emergency-plan">Finalize Your Emergency Plan</a></li>
                </ul>
                <li>1 Week Before</li>
                <ul style="list-style-type:circle">
                    <li><a href="#reminders">Send Reminders</a></li>
                    <li><a href="#run-through">Do A Run-Through</a></li>
                </ul>
                <li>Day Of Event</li>
                <ul style="list-style-type:circle">
                    <li><a href="#setup-event">Setup Your Event</a></li>
                    <li><a href="#social-media">Social Media</a></li>
                    <li><a href="#kick-off">Kick Off</a></li>
                    <li><a href="#mini-events">Host an Exciting Mini-Event</a></li>
                </ul>
                <li><a href="#after">After The Event</a></li>
            </ol>
        </div>

        <div class="events-content">
            <ol style="list-style-type:none">
                <li>
                    <br /><hr />
                    <em class="sticky">4 To 9 Months Before</em>
                    <div ng-include="'views/admin-views/guide/4\ to\ 9\ months\ before/months49.html'"></div>
                </li>

                <li>
                    <br /><hr />
                    <em class="sticky">4 Months Before</em>
                    <div ng-include="'views/admin-views/guide/4\ months\ before/months4.html'"></div>
                </li>

                <li>
                    <br /><hr />
                    <em class="sticky">2 Months Before</em>
                    <div ng-include="'views/admin-views/guide/2\ months\ before/months2.html'"></div>
                </li>

                <li>
                    <br /><hr />
                    <em class="sticky">1 Month Before</em>
                    <div ng-include="'views/admin-views/guide/1\ month\ before/month1.html'"></div>
                </li>

                <li>
                    <br /><hr />
                    <em class="sticky">1 Week Before</em>
                    <div ng-include="'views/admin-views/guide/1\ week\ before/week1.html'"></div>
                </li>

                <li>
                    <br /><hr />
                    <em class="sticky">Day Of Event</em>
                    <div ng-include="'views/admin-views/guide/day\ of\ event/dayofevent.html'"></div>
                </li>

                <li>
                    <br /><hr />
                    <em class="sticky">After The Event</em>
                    <a name="after"></a>
                    <div ng-include="'views/admin-views/guide/after\ the\ event/aftertheevent.html'"></div>
                    <br /><br /><br /><br /><br /><br /><br /><br /><br />

                </li>

            </ol>
        </div>
        <!-- .events-content -->
    </section>
</div>
